@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  display: grid;
  grid-template-columns: repeat(12, minmax(10px, 1fr));
  grid-template-rows: repeat(8, minmax(10px, 1fr));;
  grid-gap: 0.1rem;
  color: $yellow;
  background: $violet;
}
.header__button {
  grid-area: 3/ 2 / 4/ 6;
 
}
.header__title--red {
  color: red;
}
.logo {
  grid-area: 2/ 2 / 3/ 3;
  display: flex;
  justify-items: flex-end;
  width: 100%;
  max-width: 200px;
}

.navigation {
  grid-area: 2/ 5/ 3/ 8;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
  
  }
  &__item {
    list-style: none;
    align-items: center;
    display: 1;
  }

  &__link {
    display: 1;
  }
}
.footer {
  grid-area: 7/ 2 / 9/ 6;
}
.content {
  grid-area: 5/ 5 / 7/ 8;
}
