@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:700&display=swap&subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $violet;
  color: $yellow;
  display: grid;
  grid-template-columns: repeat(12, minmax(10px, 1fr));
  grid-template-rows: repeat(auto, minmax(10px, 1fr));
  min-height: 100vh;
}

.footer {
  grid-area: 8/ 1 / 9/ 13;
  background-color: #222;
  margin: 0;

  &__button {
    grid-area: 8/ 3/ 9/ 4;
    margin-right: 10px;
    z-index: 5;
  }

  &__copyright {
    padding: 20px;
    text-align: center;
  }

  &__header {
    font-family: 'Roboto Slab', serif;
    grid-area: 8/ 11 / 9/ 12;
    margin-left: 10px;
  }

  &__title--red {
    color: red;
  }
}

.header {
  background-color: #ddd;
  display: grid;
  grid-area: 1/1/2/13;
}

.logo {
  display: grid;
  grid-area: 1/ 2 / 2/ 3;
  justify-items: flex-end;
  max-width: 200px;
  width: 100%;
  z-index: 5;
}

.navigation {
  background-color: blue;
  display: grid;
  grid-area: 1/ 7 / 2/ 13;

  &__icon {
    margin-right: 10px;
  }

  &__item {
    background-color: green;
    list-style: none;
    margin-right: 3px;
    min-width: 100px;
  }

  &__list {
    align-items: center;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 50%;
  }

  &__link {
    background-color: #111;
    border-radius: 10px;
    color: $yellow;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.week {
  background-color: green;
  display: grid;
  margin: 5px 0;

  &__content {
    margin: 0;
    padding: 30px;
    width: 40%;
  }

  &__header {
    margin-left: 100px;
  }

  &__list {
    margin: 0 40px 0 70px;
    padding: 30px;
    width: 15%;
  }
  &__list-item {
    margin: 10px 0;
    list-style: none;
  }

  &__section {
    display: flex;
  }

  &--week1{
    display: grid;
    grid-area: 4/2/5/12;
  }

  &--week2 {
    display: grid;
    grid-area: 7/2/8/12;
  }
}



@media (max-width: 640px) {
  body {
    background: #fff;
  }

  .footer {
    background: #ddd;
  }
}